{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 45.55073714740541,
        "longitude": 11.832318976521492,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Casa",
        "time_zone": "Europe/Rome",
        "external_url": null,
        "internal_url": null
    }
}